doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Hola #{body.name} !
      p
        strong Notificación! 
        br
        | #{body.message} 
        br